dagster-user-deployments:
  enabled: true
  deployments:
    - name: "dagster-user-code"
      image:
        repository: "ghcr.io/jitsejan/dagster-user-code"
        tag: "0.8"
        pullPolicy: Always
      dagsterApiGrpcArgs:
        - "-f"
        - "/test_repo/repos.py"
      port: 3030
      env:
        SOME_RANDOM_VARIABLE: "SomeText"
rabbitmq:
  enabled: true
runLauncher:
  type: CeleryK8sRunLauncher
  config:
    CeleryK8sRunLauncher:
      jobNamespace: dagster
dagsterDaemon:
  queuedRunCoordinator:
    enabled: true
