---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: dagster
  name: dagster-ingress
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/auth-type: "basic"
    traefik.ingress.kubernetes.io/auth-secret: "{{ secret_name }}"
    traefik.ingress.kubernetes.io/auth-remove-header: "true"
spec:
  rules:
    - host: "{{ 'http://dagster.localhost' if ansible_distribution == 'MacOSX' else 'dagster.jitsejan.com' }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dagster-dagit
                port:
                  name: http
