---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: dagster-auth
  namespace: {{ namespace }}
spec:
  basicAuth:
    secret: authsecret
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}

data:
  users: |2
    {{ passwd }}
