apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
type: Opaque
data:
  ca.pem: {{ ca_pem }}
  consul-key.pem: {{ consul_key_pem }}
  consul.pem: {{ consul_pem }}
  gossip-encryption-key: {{ consul_key }}