apiVersion: apps/v1
kind: Deployment
metadata:
  name: jupyter-notebook
  namespace: jupyter
  labels:
    app: jupyter-notebook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jupyter-notebook
  template:
    metadata:
      labels:
        app: jupyter-notebook
    spec:
      containers:
      - name: minimal-notebook
        image: ghcr.io/jitsejan/minimal-notebook:0.14
        ports:
        - containerPort: 8888
        env:
          - name: VAULT_TOKEN
            value: {{ vault_token }}
          - name: VAULT_URL
            value: {{ vault_host }}
---
apiVersion: v1
kind: Service
metadata:
  namespace: jupyter
  name: jupyter-service
spec:
  ports:
    - name: http
      port: 8888
      targetPort: 8888
  selector:
    app: jupyter-notebook
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: jupyter
  name: jupyter-ingress
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - host: "{{ jupyter_url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: jupyter-service
                port:
                  name: http
